langchain
langchain-community
langchain-groq
groq
faiss-cpu==1.8.0.post1
python-dotenv==1.0.1
httpx==0.27.2
sentence-transformers==3.0.1
langchain-huggingface
streamlit>=1.40.0
langchain-openai
langchain-core
pypdf
unstructured
pytesseract
pillow
pdf2image
docx2txt
openpyxl
python-pptx
networkx
mcp
pandas
matplotlib
tabulate
langchain-experimental
duckduckgo-search>=6.3.0
gTTS
SpeechRecognition
PyAudio
mnlp
seaborn
yfinance
beautifulsoup4
lxml
langchain-google-genai
wikipedia